.formul{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
input{
    margin-top: 15px;
}
.button{
    margin-top: 15px;
    background: rgb(144, 179, 144);
    color: wheat;
    border-radius: 5px;
}

.list_tarea{
    text-decoration: line-through;

}